.fourth-section>div {
    background: #4c4c4c;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    text-align: center;
}

.fourth-section {
    padding: 20px;
    text-align: center;
    margin-top: 7em;
    position: relative;
}

div.span1 {
    border-right: #DAFF45 1px solid;
    width: 1px;
    height: 30%;
    margin-bottom: 3px;
}

div.span2 {
    border-right: #DAFF45 6px dotted;
    width: 1px;
    height: 40%;
}

div.span3 {
    border-right: #DAFF45 1px solid;
    width: 1px;
    height: 30%;
    margin-top: 4px;
}

div.div-divisoria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h7 {
    color: white;
    font-family: "Alumni Sans",
        sans-serif;
    font-size: 50px;
    text-align: center;
}


.fourth-section>div>div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 30px 63px 30px 63px;
}

.fourth-section>div>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 30px 63px 30px 63px;
}

.fourth-section p {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    gap: 1em;
    align-items: center;
    text-align: center;
}

.fourth-section p:first-child span {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    gap: 0.6em;
    align-items: center;
    text-align: center;
    font-weight: 300;
}




.fourth-section p span img {
    width: 30px;
}


button.button-para-voce {
    background: #a3bb42;
    width: 20vw;
    height: 6vh;
    box-shadow: gray 1px;
    border: none;
    border-radius: 0.5vw;
    font-size: 2vw;
    color: white;
    font-family: "Alumni Sans",
        sans-serif;
    font-style: italic;
    font-weight: 600;
}


p.paragraph-especial {
    display: inline;
    margin: 20px 0 0 0px;
}

span.space {
    margin-top: 20px;
}

#semLimitesName {
    color: #DAFF45;
}


h6 {
    margin: 0;
}



.fourth-section div:first-child p span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.div-button-para-voce {
    height: 100%;
    display: flex;
    align-items: end;
}



img.pt-5 {
    left: 20px;
    top: 83px;
}

img.pt-6 {
    right: 25px;
    bottom: 22px;
    rotate: 3.12rad;
}

@media screen and (max-width: 1354px) {


    h6.title {
        font-size: 50px;
    }
}

@media screen and (max-width: 1000px) {
    /* .fourth-section>div>div {
        padding: 10px 20px 10px 20px;
        gap: 0;
    } */

}

@media screen and (max-width: 781px) {

    .fourth-section>div {
        display: flex;
        flex-direction: column;
    }

    div.div-divisoria {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    div.span1 {
        border-top: #DAFF45 1px solid;
        width: 30%;
        height: 1px;
        margin-bottom: 3px;
    }

    div.span2 {
        border-top: #DAFF45 6px dotted;
        width: 40%;
        height: 1px;

    }

    div.span3 {
        border-top: #DAFF45 1px solid;
        width: 30%;
        height: 1px;
        margin-bottom: 3px;
    }

    button.button-para-voce {
        font-size: 3vw;
    }

}


@media screen and (max-width: 600px) {

    img.pt-6,
    img.pt-5 {
        display: none;
    }

    button.button-para-voce {
        font-size: 3vw;
    }




}